body {
    height: 100vh;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

div {
    position: absolute;
    bottom: 20px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    border: none;
    background-color: darksalmon;
    text-align: center;
}

h1 {
    display: flex;
    text-align: center;
}